# Ignore everything
*

# Allow only these files
!Live_AI_Server.py
!Master_AI_Brain.pkl
!requirements.txt
!Procfile
!.python-version
!Data_splitter.py
!Extract_News.py
!News_Filter_Backtester.py
!red_folder_news.csv

# Keep gitignore itself
!.gitignore